# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/

# Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet
*.nupkg
packages/
.nuget/

# Dotnet
project.lock.json
project.fragment.lock.json
artifacts/

# Local configuration files
appsettings.Development.json

# Database files
*.db
*.sqlite

# Logs
*.log

# OS generated
.DS_Store
Thumbs.db

# node
node_modules/

# User-specific files
*.userprefs

# JetBrains Rider caches
.idea/
*.sln.iml
